body {
	background-color: #222;
	color: #aaa;
}

input {
    background-color: rgb(85, 78, 78);
    border: 1px solid;
	border-color :rgb(86, 91, 121);
    height: 20px;
    width: 160px;
    color: #FFF;
}

button {
	background-color: rgb(85, 78, 78);
	color: #FFF;	
	border: 1px solid;
	border-color :rgb(86, 91, 121);
}